.form{
    text-align: left;
    padding: 3rem;
}

.deleteButton{
    border: transparent;
    background-color:cornsilk;
}

a{
    color:rgb(221, 111, 203);
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover{
    color:rgba(51, 70, 60, 0.952);
}

body{
    background-color:cornsilk;
}

.border{
    background-color: rgb(245, 239, 239);
}
